button{
    padding: 10px;
background-color: orange;
border-radius: 15px;
font-size: larger;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-image: url(http://wallpaperset.com/w/full/0/d/9/389812.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

h1{
    background-color: aliceblue;
    margin-bottom: 300px;
}

p{
    background-color: aliceblue;
    width: 1300px;
    font-size: large;
}

h2{
    background-color: aliceblue;
    width: 350px;
}